<h5>{{ title }}:</h5>
<ul>
  <li><b>JS</b>: <a href="https://github.com/Zlobin/es-ajax" target="_blank" rel="nofollow">es-ajax</a>, {{ esAjax }}.</li>
  <li><b>JS</b>: <a href="https://github.com/Zlobin/es-databinding" target="_blank" rel="nofollow">es-databinding</a>, {{ esDatabinding }}.</li>
  <li><b>JS</b>: <a href="https://github.com/Zlobin/es-middleware" target="_blank" rel="nofollow">es-middleware</a>, {{ esMiddleware }}.</li>
  <li><b>JS</b>: <a href="https://github.com/Zlobin/gulp-tojst" target="_blank" rel="nofollow">gulp-tojst</a>, {{ gulpTojst }}.</li>
  <li><b>JS</b>: <a href="https://github.com/Zlobin/FrontEndStarterKit" target="_blank" rel="nofollow">FrontEndStarterKit</a>, {{ frontEndStarterKit }}.</li>
  <li><b>Python</b>: <a href="https://github.com/Zlobin/wp-updater" target="_blank" rel="nofollow">wp-updater</a>, {{ wpUpdater }}.</li>
</ul>
