<h5>{{ title }}:</h5>
<div>
  {{ university }}

  <div class="block">
    <h5>{{ lang }}:</h5>
    <ul>
      <li>{{ ru }}</li>
      <li>{{ en }}</li>
    </ul>
  </div>

  <div class="block">
    <h5>{{ conferences }}:</h5>
    <ul>
      <li><a href="http://codefest.ru/" rel="nofollow" target="_blank">CodeFest</a>, 2014, {{ russia }}, {{ novosibirsk }}</li>
      <li><a href="http://www.highload.ru/" rel="nofollow" target="_blank">HighLoad++</a>, 2009, {{ russia }}, {{ moscow }}</li>
    </ul>
  </div>
</div>
