.contacts {
  background: $color-white;
  border-left: 1px solid $color-contacts-border-left;
  float: left;
  max-height: 100%;
  overflow: auto;
  padding: 60px 45px;
  position: relative;
  transition: margin .3s;
  width: 100%;
  z-index: 1;

  &.left {
    margin-left: 130px;
  }

  div {
    margin-bottom: 7px;

    b {
      color: $color-contacts-bolder;
    }
  }

  h4 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 0.75em;
  }

  img {
    margin-left: -5px;
    margin-top: 20px;
  }
}
