.contacts {
  background: $color-white;
  border-left: 1px solid $color-contacts-border-left;
  float: left;
  max-height: 100%;
  overflow: auto;
  padding: set-rhythm(8) set-rhythm(7);
  position: relative;
  transition: margin .2s;
  width: 100%;
  z-index: 1;

  &.left {
    margin-left: set-rhythm(16);
  }

  div {
    margin-bottom: set-rhythm();

    b {
      color: $color-contacts-bolder;
    }
  }

  h4 {
    font-size: 24px;
    margin: ($base-rhythm / 2) 0;
  }

  img {
    margin-left: -$base-rhythm;
    margin-top: set-rhythm(2);
  }
}
