.effect {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &.gray {
    -webkit-filter: grayscale(100%) brightness(105%) contrast(120%);
    -webkit-transition: filter .4s, -webkit-filter .5s;
    filter: grayscale(100%) brightness(105%) contrast(120%);
    transition: filter .5s, -webkit-filter .5s;
  }

  .background,
  .front {
    backface-visibility: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .background {
    position: relative;
  }

  .front {
    left: 0;
    position: absolute;
    top: 0;
  }
}
