.hamburger-menu {
  background: $color-white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;

  .hamburger {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    outline: none;
    margin-left: set-rhythm();
    padding: 0;
    text-transform: none;
    transition-duration: .1s;
    transition-property: opacity, filter;
    transition-timing-function: linear;

    &:hover {
      opacity: .8;
    }
  }

  .hamburger-box {
    height: set-rhythm(3);
    position: relative;
    width: set-rhythm(3);
  }

  .hamburger-inner {
    display: block;
    margin-top: set-rhythm();
    top: 40%;

    &,
    &::before,
    &::after {
      background-color: $color-black;
      border-radius: ($base-rhythm / 2);
      height: ($base-rhythm / 2);
      position: absolute;
      transition-duration: .2s;
      transition-property: transform;
      transition-timing-function: ease;
      width: set-rhythm(3);
    }

    &::before,
    &::after {
      content: '';
      display: block;
    }

    &::before {
      top: set-rhythm(-1);
    }

    &::after {
      bottom: set-rhythm(-1);
    }
  }

  .hamburger--vortex {
    .hamburger-inner {
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      &::before,
      &::after {
        transition-delay: .1s;
        transition-duration: 0s;
        transition-timing-function: linear;
      }

      &::before {
        transition-property: top, opacity;
      }

      &::after {
        transition-property: bottom, transform;
      }
    }

    &.is-active {
      .hamburger-inner {
        transform: rotate(765deg);
        transition-timing-function: cubic-bezier(.19, 1, .22, 1);

        &::before,
        &::after {
          transition-delay: 0s;
        }

        &::before {
          opacity: 0;
          top: 0;
        }

        &::after {
          bottom: 0;
          transform: rotate(90deg);
        }
      }
    }
  }

  nav {
    background: $color-white;
    margin-left: set-rhythm(3);
    width: set-rhythm(18);

    ul {
      margin-left: set-rhythm(2);
      margin-top: set-rhythm(-1);
      padding: 0;

      li {
        list-style: none;
      }
    }
  }
}
