@import 'base';

.cover {
  background: url(/img/cover/galaxy.jpg) center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  z-index: 1;

  @import 'hamburger';
  @import 'profile';
  @import 'cv';
  @import 'contacts';
  @import 'effect';
}

@import 'media-queries';
