main {
  color: $color-profile-menu-span-main;
  margin-top: 8%;
  max-width: set-rhythm(75);
  text-align: center;
  text-shadow: 0 .04em 0 $color-profile-shadow;

  &.floated {
    float: left;
    margin: 0;
    margin-top: set-rhythm(8);
    width: set-rhythm(38);

    .profile {
      > p {
        display: none;
      }

      .hr-second {
        display: none;
      }

      .profile-wrapper {
        display: block;

        > h2 {
          margin: set-rhythm(2) 0;
          font-size: 1.4em;
        }

        a {
          margin: 0 auto;
        }

        .lang {
          margin-top: set-rhythm(1);
          position: relative;
          right: 0;
        }
      }
    }

    menu {
      flex-direction: column;
      margin: set-rhythm(2) auto;
      padding: 0;
      width: set-rhythm(15);

      > span {
        display: block;
        margin-bottom: set-rhythm();

        > a {
          &.active {
            color: $color-profile-menu-link;
            font-weight: bold;
          }
        }
      }
    }

    .links {
      margin: 0;

      a {
        padding: set-rhythm();

        .icon {
          height: set-rhythm(2);
          width: set-rhythm(2);
        }
      }
    }
  }

  .profile {
    .profile-wrapper {
      display: flex;
      position: relative;

      > h2 {
        font-size: 32px;
        margin-left: set-rhythm(4);
        margin-top: set-rhythm(7);
      }

      .lang {
        position: absolute;
        bottom: 0;
        right: set-rhythm(12);

        span {
          cursor: pointer;

          &:hover {
            color: $color-link-hover;
          }
        }
      }
    }

    > hr {
      border-top: 1px solid $color-profile-hr;
      margin: set-rhythm() auto;
      width: 80%;

      &.hr-second {
        width: 40%;
      }
    }

    a {
      border-bottom: 0;
      display: block;
      height: set-rhythm(20);
      width: set-rhythm(20);
      margin-left: set-rhythm(10);
      margin-bottom: set-rhythm(.5);

      span {
        border: 2px solid $color-profile-img-border;
        border-bottom: 0;
        border-radius: 80%;
        box-shadow: 0 0 1px 1px $color-profile-shadow;
        display: block;
        height: 100%;
        padding: 2px;
        width: 100%;

        .effect {
          div {
            border-bottom: 0;
            border-radius: 80%;
            box-shadow: 0 0 1px 1px $color-profile-shadow;
          }
        }
      }
    }

    > p {
      opacity: .8;
      padding: 0 set-rhythm(4);
    }
  }

  menu {
    display: flex;
    justify-content: center;
    margin: set-rhythm(4) 0;
    padding: 0;

    > span {
      -webkit-appearance: none;
      background-color: $color-profile-shadow;
      border-radius: set-rhythm(3);
      color: $color-profile-menu-span-main;
      margin: 0 ($base-rhythm / 2);
      opacity: .8;
      padding: set-rhythm() 0;
      width: set-rhythm(15);

      &:hover {
        border-color: $color-profile-menu-span-hover;
        transition: all .2s;

        > a {
          color: $color-profile-menu-span-hover;
        }
      }

      > a {
        border-bottom: 0;
        color: $color-profile-menu-span-main;
        cursor: pointer;
        opacity: .8;
        padding: 0 set-rhythm(2);
        text-decoration: none;
      }
    }
  }

  .links {
    display: flex;
    justify-content: center;
    margin: set-rhythm(3) 0;

    a {
      border-bottom: 0;
      padding: set-rhythm(2);
      text-decoration: none;

      .icon {
        cursor: pointer;
        fill: $color-white;
        height: set-rhythm(3);
        transition: all .2s;
        width: set-rhythm(3);

        &:hover {
          fill: $color-link-hover;
        }
      }
    }
  }
}
